* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh;
  user-select: none;
}
::-webkit-scrollbar {
  height: 0;
  width: 0;
}
::-webkit-scrollbar-track {
  background: linear-gradient(45deg, #34495e, #2c3e50, #2d3436);
  border-radius: 15px;
}
::-webkit-slider-thumb {
  background-color: white;
}
